<div class="container">
  <div class="tabs">
    <div
      *ngFor="let tab of tabs; let i = index"
      class="tab"
      [class.active]="i === selectedTabIndex"
      (click)="selectTab(i)"
    >
      {{ tab.title }}
    </div>

    <button class="download-btn" (click)="downloadPDF()">Download PDF</button>
  </div>

  <div class="tab-content">
    <ng-container *ngComponentOutlet="tabs[selectedTabIndex].component"></ng-container>
  </div>

  <div #pdfContent style="visibility: hidden; position: absolute; left: -9999px; top: -9999px">
    <div *ngFor="let tab of tabs">
      <div [id]="'tab-' + tab.id">
        <ng-container *ngComponentOutlet="tab.component"></ng-container>
      </div>
    </div>
  </div>
</div>
