<div #pdfContent>
  <div class="container">
    <div class="tabs">
      <div
        class="tab"
        *ngFor="let tab of tabs; let i = index"
        [class.active]="i === selectedTabIndex"
        (click)="selectTab(i)"
      >
        {{ tab.title }}
      </div>
      <button class="download-btn" (click)="downloadPDF()">Download PDF</button>
    </div>

    <div class="content">
      <div *ngFor="let tab of tabs; let i = index" [hidden]="i !== selectedTabIndex">
        <h2>{{ tab.title }}</h2>
        <p>{{ tab.content }}</p>
        <img [src]="tab.image" alt="{{ tab.title }}" class="tab-image" crossorigin="anonymous" />
        <p>
          <a [href]="tab.link" target="_blank">{{ tab.link }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
